/* General Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: hwb(0 0% 96%);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300vh;
  }
  
  h1 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.25rem;
    color: #dde4ec;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    background-color: #003d75;
  }
  