/* h1{
    color: blue,
}

div{
    border:  2px solid black;
    height: 50%;
    width: 25%;
    margin: 50px;
    padding: 120px;
} */

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    width: 100%;
    height: 100%;


}

/* #main{
    width: 100%;
    height: 100%; 
    background-image:url(//images.unsplash.com/photo-1652859876855-139827b7a4f1?q=80&w=2160&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

} */

/* #car1{
    width: 100px;
    height: 120px;
    background-color: red;

}
#car2{
    position: absolute;
    top: 20%;
    left: 80%;
    
    width: 110px;
    height: 90px;
    background-color: blue;

}
#car3{

    width: 130px;
    height: 110px;
    background-color: green;

} */

/* #box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(44, 39, 75);
}

#smallBox{
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(87, 163, 163);

} */

#box{
    display: flex;
    justify-content: space-between ;
     align-items: center;
    width: 500px;
    height: 500px;
    background-color: grey;
}

#box1{
    width: 100px;
    height: 100px;
    background-color: #77d743;

}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(11, 11, 168);

}
#box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(243, 24, 24);

} 

